$small-display: 1050px;

.projects {
  padding: 50px 10%;
  color: #ababab;
  margin-top: 40px;

  @media (max-width: $small-display) {
    padding: 50px 4%;
  }

  .container {
    .sub-title {
      font-size: 60px;
      font-weight: 600;
      color: #ffffff;

      @media (max-width: $small-display) {
        font-size: 50px;
      }
    }

    .project-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 40px;
      margin-top: 50px;

      .project {
        border-radius: 10px;
        position: relative;
        overflow: hidden;

        @media (max-width: $small-display) {
          min-height: 300px;
        }

        .layer {
          width: 100%;
          height: 0;
          background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
          border-radius: 10px;
          position: absolute;
          left: 0;
          bottom: 0;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 0 40px;
          text-align: center;
          font-size: 14px;
          color: #ffffff;
          transition: height 0.5s;

          .project-title {
            font-weight: 500;
            margin-bottom: 20px;
          }

          .project-reference {
            margin-top: 20px;
            color: #ff004f;
            text-decoration: none;
            font-size: 18px;
            line-height: 60px;
            background: #fff;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            text-align: center;
            cursor: pointer;

            .link-icon {
              position: relative;
              left: 19px;
              top: 18px;
              height: 22px;
              width: 22px;
              border-radius: 0;
              filter: brightness(0) saturate(100%) invert(15%) sepia(82%) saturate(6960%) hue-rotate(336deg) brightness(99%) contrast(107%);
            }
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
          display: block;
          transition: transform 0.5s;
        }
      }

      .project:hover img {
        transform: scale(1.1);
      }

      .project:hover .layer {
        height: 100%;
      }
    }
  }
}
