@import '../../variables';

#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 40px;
  width: 40px;
  display: none;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  @media (max-width: $small-display) {
    height: 60px;
    width: 60px;
    bottom: 60px;
  }

  #progress-value {
    height: calc(100% - 5px);
    width: calc(100% - 5px);
    background-color: #080808;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 26px;
    color: $red-color;

    .arrow-up {
      width: 15px;
      filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(26deg) brightness(110%) contrast(101%);
    }
  }
}
