@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@500&family=Six+Caps&display=swap');

.quote {
  margin-top: 40px;

  .text {
    width: 100%;
    text-align: center;
    padding: 100px 0;
    background: #26272B;
    font-weight: 300;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
  }
}
