@import '../../../variables';

.footer {
  margin-top: 200px;
  height: fit-content;
  width: 100%;
  position: relative;
  bottom: 0;

  @media (min-width: 2500px) {
    padding: 0;
    margin: 0 auto;
    max-width: 2500px;
    align-self: center;
    margin-top: 0;
  }

  .copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: $grey-color;
    font-weight: 300;

    @media (max-width: $small-display) {
      font-weight: 600;
      font-size: 18px;
      line-height: 1.8;
    }
  }

  .copyright::before {
    content: '';
    position: absolute;
    bottom: 74px;
    left: 0;
    height: 200px;
    width: 100%;
    background-image: url('../../../assets/footer4-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (max-width: $mobile-display) {
      height: 130px;
    }

    @media (max-width: $smallest-display) {
      bottom: 95px;
    }

    @media (min-resolution: 220dpi) and (max-height:400px) {
      display: none;
    }
  }
}

.not-found-page {
  position: fixed;
  bottom: 0;

  @media (min-resolution: 160dpi) and (max-height:500px)  {
    display: none;
  }

  .copyright::before {
    @media (min-resolution: 140dpi) and (max-height:800px) {
      display: none;
    }
  }

  @media (min-resolution: 220dpi) and (max-height:400px) {
    display: none;
  }
}
