@import '../../variables';

.footer {
  margin-top: 40px;

  .copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: $grey-color;
    font-weight: 300;

    @media (max-width: $small-display) {
      font-weight: 600;
      font-size: 18px;
      line-height: 1.8;
    }
  }
}
