@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@500&family=Six+Caps&display=swap');

@import '../../variables';

.header {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/final-serious.jpg");
  background-size: 800px;
  background-position: right;
  background-repeat: no-repeat;

  @media (max-width: $small-display) {
    background-image: url("../../assets/final-serious - mobile.jpg");
    background-size: 500px;
  }

  .container {
    padding: 10px 10%;

    @media (max-width: $small-display) {
      height: 100%;
      padding: 10px 4%;
    }

    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .logo {
        cursor: pointer;

        .portfolio {
          font-family: 'Six Caps', sans-serif;
          font-size: 72px;
          margin-bottom: -15px;
          transition: color 0.8s ease;
        }

        .portfolio:hover {
          color: $red-color;
        }

        .name {
          font-size: 18px;
          color: $red-color;
          transition: color 0.8s ease;
        }
      }
      .ul-container {
        @media (max-width: $burger-menu-display) {
          display: none;
        }

        .list-item {
          display: inline-block;
          list-style: none;
          margin: 10px 20px;
          position: relative;

          .nav-link {
            color: $white-color;
            text-decoration: none;
            font-size: 18px;
          }

          .nav-link::after {
            content: '';
            width: 0;
            height: 3px;
            background: $red-color;
            position: absolute;
            left: 0;
            bottom: -6px;
            transition: 0.5s;
          }

          .nav-link:hover::after {
            width: 100%;
          }
        }
      }
    }

    .header-text {
      margin-top: 20%;
      font-size: 30px;

      @media (max-width: $small-display) {
        margin-top: 63vh;
        font-size: 18px;
      }

      h1 {
        font-size: 60px;

        @media (max-width: $small-display) {
          font-size: 30px;
        }
      }

      .special {
        color: $red-color;
      }

      div {
        display: flex;
        align-items: center;
        gap: 5px;

        .special {
          color: $red-color;
        }

        .small {
          margin-right: -5px;
        }

        .big {
          font-size: 40px;
        }
      }
    }
  }
}
