@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@500&family=Six+Caps&display=swap');
@import '../../variables';

.quote {
  margin-top: 40px;

  .text {
    width: 100%;
    text-align: center;
    padding: 100px 15px;
    background: $grey-color;
    font-weight: 300;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;

    @media (max-width: $small-display) {
      word-break: break-word;
      font-size: 25px;
      padding: 70px 0;
    }
  }
}
