@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

body {
    background: black;
    color: #ffffff;
}

.App {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

@media only screen and (max-width: 2550px) {
    .App {
        display: unset;
        min-height: unset;
    }
}
