$small-display: 1050px;
$burger-menu-display: 1200px;
$mobile-display: 600px;
$middle-mobile-display: 500px;
$smallest-display: 280px;

$red-color: #ff004f;
$white-color: #ffffff;
$grey-color: #26272B;
$light-grey: #ababab;
